.wrapper {
  padding: 0 20px;
  .h2 {
    color: #999;
    border-bottom: 1px dashed #eee;
    padding: 20px 0;
    margin: 0;
  }
  .compo-list {
    border-bottom: 1px dashed #eee;
    .compo-ul {
      list-style-type: none;
      margin: 0;
      padding: 15px 0 0 0;
      &::after {
        display: block;
        content: "";
        clear: both;
      }
      li {
        float: left;
        margin-right: 20px;
        margin-bottom: 15px;
        a {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #eee;
          color: #333;
          text-decoration: none;
          border-radius: 4px;
          &:hover {
            color: #0097e0;
          }
        }
      }
    }
  }
  .demo-section {
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fafafa;
    padding: 10px;
    margin: 20px 0;
    h4 {
      margin: 0;
      font-size: 13px;
      font-weight: normal;
      color: #999;
      margin-bottom: 10px;
    }
  }
}